.container{
  background-color:var(--color-background-light);
  padding: 3rem 0;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_projetos{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #fff;
}


@media screen and (max-width: 768px) {
  .container_projetos{
    grid-template-columns: 1fr;
  }
}