.container{
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  margin: auto;
  padding: 8px;
  padding-top: 100px;
  background-color:var(--color-background-dark);
  color: #fff;
}
/*---------------------------------------------------------------*/
.div_grey{
  background-color: var(--color-background-light);
  border: 1px solid #101013;
  padding: 0px 24px;
  border-radius: 4px;
  margin: 25px 25px 50px 25px;
  width: 85%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------------------------*/
.grey_div_img {
  width: 100%;
}

.grey_div_img img{
  width: 100%;
  object-fit: contain;
  max-height: 500px;
  border-radius: 4px;
}
/*---------------------------------------*/

.grey_div_sobre{
  display: flex;
  flex-direction: column;
}

/*------------------------------------------------------------*/

@media screen and (max-width:530px) {
  .div_sobre_links{
    flex-wrap: wrap;
  }
}


@media screen and (min-width:768px) {
  .grey_div_sobre {
    font-size: 1em;
    padding: 24px;
    gap: 20px;
  }

  .div_sobre_descricao{
    gap: 8px;
  }
  
  .div_sobre_descricao h2{
    font-size: 1.6rem;
  }

  .sobre_subtitle{
    font-size: 1rem;
  }
}


@media screen and (min-width: 1025px) {
  .div_grey {
    flex-direction: row;
    gap: 12px;
  }

  .grey_div_sobre{
    max-width: 50%;
  }

  .sobre_sobre{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .grey_div_img img{
    max-height: 450px;
  }

  .div_sobre_descricao h2{
    font-size: 1.8rem;
    font-weight: 600;
  }

  .sobre_subtitle{
    font-size: 1.2rem;
    font-weight: 400;
  }

  .sobre_description{
    font-size: 1.1rem;
  }

}